.planner__available-tables {
  overflow-y: hidden;
  overflow-x: auto;
  height: var(--planner-table-size);
}

.planner__list-container {
  display: inline-flex;
  border: 1px solid black;
  height: calc(var(--planner-table-size) + 2);
  min-width: 100%;
}

.planner__item {
  width: var(--planner-table-size);
  height: var(--planner-table-size);
  padding: 10px;
}

.planner__item .ant-image-mask {
  display: none;
}

.planner__item .ant-image-img,
.planner__item .ant-image {
  height: 100%;
}

.planner__item:hover {
  cursor: grab;
}

.planner__item-board {
  position: absolute;
}

.planner__board {
  background-color: black;
  width: var(--planner-board-width);
  height: var(--planner-board-height);
  margin: 0 auto;
  margin-top: 25px;
  position: relative;
}
